.Wrapper{
    display: flex;
    flex-direction: column;
    width: 427px;
    height: 528px;

    background: #F5F5F5;
    border-radius: 20px;
    padding: 40px 0px 40px 24px ;
}

.User {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.UserText{
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    color: #E13190;
    padding-left: 24px;
}


.UserLogo {
    background-color: #FFFFFF;
    border-radius: 20px;
    background-image: url(./img/User.svg);
    background-size: 44px 53px;
    background-position: center;
    background-repeat: no-repeat;
    width: 79px;
    height: 79px;
}

.Navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    flex-grow: 1;
}

.Link {
    position: relative;
    width: 365px;
    box-sizing: border-box;
    padding: 40px 50px 40px 74px;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    color: #686464;
    text-decoration: none;
    z-index: 50;
    overflow: hidden;
}

@keyframes move {
    from {
        left: 500px;
    }
    to {
        left: 0px;
    }
}

.Link:after {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    background: rgb(255,255,255);
    border-radius: 20px 0px 0px 20px;
}

.Link:hover:after {
    -webkit-animation: move 0.4s ease-in-out;
    width: 100%;
}

@keyframes move {
    from {
        left: 600px;
    }
    to {
        left: 0px;
    }
}

.Selected {
    background: #FFFFFF;
    border-radius: 20px 0px 0px 20px;
    color: #E13190;

}