.LoginButton {
    font-size: 20px;
    line-height: 27px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    color: #FFFFFF;
    position: relative;
}

.LoginButton::before {
    content: "";
    position: absolute;
    left: -50px;
    top: -5px;
    background-image: url(./Button.svg);
    background-size: 42px 41px;
    height: 41px;
    width: 42px;
}