.Users {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
}

.TabsWrapper {
    margin-top: 40px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
}
