.LoginButton {
    font-size: 20px;
    line-height: 27px;
    background-color: transparent;
    color: #FFFFFF;
    position: relative;
}

.LoginButton::before {
    content: "";
    position: absolute;
    left: 0px;
    top: -17px;
    background-image: url(./Button.svg);
    background-size: 42px 41px;
    height: 41px;
    width: 42px;
}

.ButtonText {
    display: none;
}



@media (min-width: 600px) {
    .ButtonText {
        display: inline;
    }

    .LoginButton::before {
        left: -50px;
        top: -5px;
    }
}