.Transfer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Inner {
    margin-top: 50px;
}

.Row {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    width: 100%
}

.Row input,
.Row textarea {
    margin-left: 50px;
    font-size: 18px;
    line-height: 156%;


    color: #000000;
    width: 312px;
    padding: 2px 8px;
    background: #F5F5F5;
    border-radius: 5px;
    border: none;
    outline: none;
}