.Modal {
    display: flex;
    justify-self: center;
    height: 70%;
    width: 80%;
    position: fixed;
    z-index: 500;
    left: 10%;
    top: 15%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;

}

@media (min-width: 750px) {
    .Modal {
        top: 5%;
        left: calc(50% - 300px);
        width: fit-content;
        height: 90%;
        max-height: 800px;
    }
}